/Documents/插件信息.docx
/JobScheduling/.vs/JobScheduling/v14/.suo
/JobScheduling/.vs/config/applicationhost.config
/JobSchedulingDev/packages
/JobSchedulingDev/JobScheduling.Web/bin
/JobSchedulingDev/JobScheduling.Web/obj
/JobSchedulingDev/JobScheduling.Model/obj
/JobSchedulingDev/JobScheduling.Model/bin
/JobSchedulingDev/JobScheduling.DBCommon/bin
/JobSchedulingDev/JobScheduling.DBCommon/obj
/JobSchedulingDev/JobScheduling.DataAccess/bin
/JobSchedulingDev/JobScheduling.DataAccess/obj
/JobSchedulingDev/JobScheduling.Common/bin
/JobSchedulingDev/JobScheduling.Common/obj
/JobSchedulingDev/JobScheduling.Business/bin
/JobSchedulingDev/JobScheduling.Business/obj
/JobSchedulingDev/JobScheduling.v11.suo
