<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserServiceImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/soap/user" binding="basicHttpBinding"
                bindingConfiguration="UserServiceImplServiceSoapBinding" contract="TestService.userService"
                name="UserServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>