<div id="divMidLeftSide" class="dark_color4">
    <div id="divMidLeftSideBlock1" class="">
        <img alt="artist" src="~/Content/Images/Logo_ticket.png" />
    </div>
    <div id="divMidLeftMenu">
        <ul class="left_nav_menu">
            @{Html.RenderAction("Index", "Menu");}
        </ul>
    </div>
</div>
