<div id="divHeader">
    <div id="divHeaderLeft" class="light_color1">
        <div id="divHeaderLogo">
            <a href="@Url.Content("~/Project/List")">
                <img src="@Url.Content("~/Content/Images/Logo_EGStypeStandard.png")" />
            </a>
        </div>
        <div id="divHeaderNav">
            <ul>
                <li><a href="#">A</a></li>
                <li>B</li>
                <li><a href="#">C</a></li>
                <li><a href="#">D</a></li>
            </ul>
        </div>
    </div>
    <div id="divHeaderRight" class="dark_color1">
        <div id="divHeaderWelcomeMenu">
            <a href="#" title="Open Menu">
                UserName
                <span class="arrow_down_1">
                    <img src="@Url.Content("~/Content/Images/ico_common.png")" />
                </span>
            </a>
        </div>
        <div id="divHeaderHelp">
            <a href="#" title="Help">
                <span class="help_mark1" style="margin-bottom:-2px;">
                    <img src="@Url.Content("~/Content/Images/ico_common.png")" />
                </span>
            </a>
        </div>
    </div>
</div>
