@model JobScheduling.Web.Models.ReportM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.Partial("../Shared/ReportControl", Model)
    </div>
</body>
</html>
