@{
    ViewBag.Title = "错误提示";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div  style="text-align:center;padding: 23% 0 0 0;">
        @if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <h2>在你的请求中出现了一个错误</h2>
        }
        else
        {
            <h2>@ViewBag.ErrorMessage</h2>
        }
    </div>
</body>
</html>

