@{
    ViewBag.Title = "SelectUser";
}

@section secFunctionBar{
    <ul class="dark_color5">
        <li>
            <a href="#">
                <span class="back">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                Back
            </a>
        </li>
        <li>
            <a href="#">
                <span class="new">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                New
            </a>
        </li>
        <li>
            <a href="#">
                <span class="del">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                Del
            </a>
        </li>
        <li>
            <a href="#">
                <span class="edit">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                Edit
            </a></li>

    </ul>
}

@*<div class="div_selectuser_content">
    <div class="div_grouplist_content left">
        <div class="div_grouplist_search header left">
            <input type="text" />
            <span class="searchicon" onclick="javascript:alert('search');"></span>
        </div>
        <div class="div_grouplist left">
            <ul class="ul_grouplist">
                @{
                    for (int i = 0; i < 50; i++)
                    {
                        if (i % 2 == 0)
                        {
                    <li class="odd">
                        <a href="#">Group Right  @i
                        </a>
                    </li>
                        }
                        else
                        {
                    <li class="even">
                        <a href="#">Group Right @i
                        </a>
                    </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>

    <div class="div_rightset right">
        <div class="div_rightset_left">
            <div class="daiding">

                <div class="title">Group 1 </div>
                <div class="description">Description</div>


                <div class="div_rightset_search">
                    <span style="margin-right: 5px; font-size: 14px; margin-left: 33px;">Selected</span>
                    <input name="search user name" class="" />
                    <span class="searchicon"></span>
                </div>
                <div class="div_rightsetlist">
                    <ul class="ul_grouplist">
                        @{
                            for (int i = 0; i < 50; i++)
                            {
                                if (i % 2 == 0)
                                {
                            <li class="odd">
                                <input type="checkbox" />
                                <a href="#">Group Right  @i
                                </a>
                            </li>
                                }
                                else
                                {
                            <li class="even">
                                <input type="checkbox" />
                                <a href="#">Group Right @i
                                </a>
                            </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="div_rightset_mid">
            <div class="div_choosebar">
                <a class="up"></a>
                <a class="down"></a>
            </div>
        </div>
        <div class="div_rightset_right">
            <div class="div_rightset_search">
                <span style="margin-right: 5px; font-size: 14px; margin-left: 33px;">All User </span>
                <input name="search user name" class="" />
                <span class="searchicon"></span>
            </div>
            <div class="div_rightsetlist">
                <ul class="ul_grouplist">
                    @{
                        for (int i = 0; i < 50; i++)
                        {
                            if (i % 2 == 0)
                            {
                        <li class="odd">
                            <input type="checkbox" />
                            <a href="#">Group Right  @i
                            </a>
                        </li>
                            }
                            else
                            {
                        <li class="even">
                            <input type="checkbox" />
                            <a href="#">Group Right @i
                            </a>
                        </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

     <div class="div_selectoperation">
        <div class="div_selectoperation_title">
            <span>Please Select Operation :</span>
        </div>
        <div class="div_selectoperation_content">
            <input class="input_searchcontent" type="text" value="2013-49-25" title="Title" name="Title">
            <a class="a_dropiconarea">
                <span class="span_dropicon">
                    <img src="/Content/Images/ico_common.png" alt="">
                </span>
            </a>
            <input type="button" name="ben" class="input_enter" onclick="javascript: alert('enter');" />
            <input type="button" name="ben" class="input_logout" onclick="javascript: alert('logout');" />
        </div>
    </div>*@

@* single checked. *@
<textarea id="text1" name="input_artise_info" readonly="readonly" maxlength="50" style="height:30px;width:100px;"></textarea>
<a class="a_choose_artise" href="#div_artise_choose_pancel" onclick="javascript:showMaskLayout1('text1');">单选</a>
@section secArtiseSelectPancel{
    <div id="div_artise_choose_pancel1" style="display: none;">
        <a href="#" class="a_close_artise_choose_pancel" onclick="javascript:hideMaskLayout1('text1');" title="btn_Close"></a>
        <div class="content">
            <span class="title">Admin</span>
            <div class="description"></div>
            <div class="div_artise_search">
                <span style="margin-right: 5px; font-size: 18px;">Search</span>
                <input type="text" value="" name="SelectedArtist" id="SelectedArtist">
                <span onclick="Load_SelectedArtist1('text1')" class="searchicon"></span>
            </div>
            <div class="div_artiselist">

               <ul id="SelectedArtistList">
                 </ul>
                
            </div>
            <div class="div_btnbar">
                <input type="button" name="ben" class="input_ok" value="ok" onclick="javascript: submitArtise1('text1')" />
                <input type="button" name="ben" class="input_close" onclick="javascript: hideMaskLayout1('text1')" />
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/Artiste/ArtisteSelection.js"></script>
    <script src="~/Scripts/Shared/CRUD_COMMOM.js"></script>
}