@{
    ViewBag.Title = "Sorry";
}

<div class="div_sorrycontent">
    <span class="span_ball">
        <img alt="" src="~/Content/Images/ico_common.png" />
    </span>
    <div class="div_fontcontent">
        <span>You are not login,please return to the home page.</span>
        <br />
        <span>click <a href="/Home/Logout" class="a_here">here</a> to home page.</span>
    </div>
</div>

