@{
    ViewBag.Title = "登录失效提示";
}

<div class="div_sorrycontent">
    <span class="span_ball">
        <img alt="" src="~/Content/Images/ico_common.png" />
    </span>
    <div class="div_fontcontent">
        <span>你没有登录，请返回登录页重新登录</span>
        <br />
        <span>点击 <a href="/Home/Logout" class="a_here">这里</a>返回登录页</span>
    </div>
</div>

