@{
    ViewBag.Title = "Update Transaction Master";
}
@model JobScheduling.Model.MasterModel.UpdateTransM

@section Scripts{
<script>

    $(document).ready(function () {

    });
    function showPath() {
            $("#processingBackground").toggle();
            $("#processing").toggle();
            $("form").submit();

    }

</script>
}

<br />
<h3 style="margin-left: 10px;"> Retrieve the information from BIN Master and write it to the Transaction Master</h3>
<br />
@using (Html.BeginForm("index", "UpdateTrans", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input style="margin-left: 10px;width :70px" type="button" value="Start" onclick ="showPath() "/>
    </div>
}

     @if (Model != null && Model.HasResult)
     {
    <ul class="content_infoview View">       
        <li>
            <h4 style="width:350px">
                Number of records Update to Transaction Master:
            </h4>
            @Html.DisplayTextFor(m => m.NumOfSuccess)
        </li>

     </ul>
     }
